@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@300&display=swap');
/*   #2.Historia de Usuario */
body{
    font-family: 'Rosario', sans-serif;
    background: linear-gradient(to bottom, #012227,#033338,#02545f)no-repeat;
    

}
.show{
    display: flex !important;
}
.hide{
    display: none;
}
header img{
    width: 100%;
}
main{
    min-height:100vh;
    display: flex;
<<<<<<< HEAD
    flex-direction: row;  
    min-height: 100vh; 
=======
    flex-direction: row;
    
>>>>>>> f2217304a5497a897b5717f2742acce5bf635783
}
aside{
    max-width: 330px; 
    text-align: center;   
}
.sticky{
    top:20px;   
}


h1{
    color: white;
    text-align: center;
    font-size: 2.3em;
}
.search{
   width:85%;
   font-size: 150%;
   border-radius:7px;
   border-color:#3EDBF0;
   background-color: #0A0909;
   color: white;
}
h3{
    text-align: left;
    margin-left: 15%;
    color: white;
    font-size: 28px;
}
h2{
    text-align: center;
    margin-left: 15%;
    color: white;
    font-size: 28px;
}
.difficulty{
    border-color:#3EDBF0;
    color:#F0A500;
    background-color:#0A0909;
    padding:5px;
    border-radius: 5px;
    width: 40%;
    font-size: 1em;
    margin-right: 3%;
}

.organized{
    border-color:#3EDBF0;
    color:#F0A500;
    background-color:#0A0909;
    padding:5px;
    border-radius: 5px;
    width: 40%;
    font-size: 1.2em;
    margin-right: 3%;
}

.role{
    color: #F0A500;
    background-color: #0A0909;
    border-color: #3EDBF0;
    width: 60%;
    font-size: 1.2em ;
    font-family: 'Rosario', sans-serif;
    cursor: pointer;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    margin-right: 3%;
}
.champions {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    max-height: 2100px;
    overflow-y: scroll;
}
.champions::-webkit-scrollbar{
    width: 10px;
}
.champions::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color:#0e474e ;
}
.champions::-webkit-scrollbar-thumb:hover{
    background-color: #1b5c64;
}
.champions::-webkit-scrollbar-thumb:active{
    background:#346a74 ;
}
.champions::-webkit-scrollbar-track:hover{
    background: #66a3ad;
    border-radius: 10px;
}
  
.champion_container{
    background-color: #0A0909;
    border-radius: 5px;
    margin:7px;
    cursor: pointer;
}
.champion_image{
  margin: 10px;
  object-fit: cover;
  width: 154px;
  height:159px;
  margin-bottom: 0px;
}
.champion_name{
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 9px;
}
.championRole{
    color: #F0A500;
    font-family: 'Rosario', sans-serif;
    padding-top: 40px;
}
.modalContainer{
    position: fixed;
    background: #00000091;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
}
.modalCard{
    display: flex;
    padding: 10px;
    background: #012227;
    border-radius: 10px;
    border: solid 2px;
    border-color:#3edbf06b;
    max-width: 1200px;
}
.modalImg{
    width: 60%;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    border-radius: 10px;
    border:solid 3px;
    border-color: #000000;
}
.closeModal{
    text-align: right;
    box-sizing: border-box;
}
.closeModal img{
    width: 35px;
    cursor: pointer;
}
.modalText{
    width: 40%;
    padding: 25px;
}
.nameCard{
    color:#F0A500;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 2em ;
    margin-top:5px;
}
.tittleCard{
    color: white;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.descriptionCard{
    color: white;
    text-align: justify;
}
.listStats{
    color: white;
    list-style: none;
}
.listStats img{
    width: 32px;
    height: 32px;
}
