@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@300&display=swap');
/*   #2.Historia de Usuario */
body{
    font-family: 'Rosario', sans-serif;
    background: linear-gradient(to bottom, #001b1f,#032e32,#01454e)no-repeat;
}

header img{
    width: 100%;
}
main{
    display: flex;
    flex-direction: row;   
}
aside{
    max-width: 330px; 
    text-align: center;
}
.sticky{
    position: sticky; 
    top:20px;    
    overflow-y: auto; 
}


h1{
    color: white;
    text-align: center;
    font-size: 2.5em;
}
.search{
   width:85%;
   font-size: 150%;
   border-radius:7px;
   border-color:#3EDBF0;
   background-color: #0A0909;
   color: white;
}
h3{
    text-align: left;
    margin-left: 15%;
    color: white;
    font-size: 28px;
}
h2{
    text-align: center;
    margin-left: 15%;
    color: white;
    font-size: 28px;
}
.difficulty{
    border-color:#3EDBF0;
    color:#F0A500;
    background-color:#0A0909;
    padding:5px;
    border-radius: 5px;
    width: 40%;
    font-size: 1em;
    margin-right: 3%;
}

.organized{
    border-color:#3EDBF0;
    color:#F0A500;
    background-color:#0A0909;
    padding:5px;
    border-radius: 5px;
    width: 40%;
    font-size: 1em;
    margin-right: 3%;
}

.role{
    color: #F0A500;
    background-color: #0A0909;
    border-color: #3EDBF0;
    width: 60%;
    font-size: 1em ;
    font-family: 'Rosario', sans-serif;
    cursor: pointer;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    margin-right: 3%;
}
.champions {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    height: 100%;
    width: 100%;
    padding-top: 40px;
}
.champion_container{
    background-color: #0A0909;
    border-radius: 5px;
    margin:7px;
    cursor: pointer;
}
.champion_image{
  margin: 10px;
  object-fit: cover;
  width: 154px;
  height:159px;
  margin-bottom: 0px;
}
.champion_name{
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 9px;
}
.championRole{
    color: #F0A500;
    font-family: 'Rosario', sans-serif;
    padding-top: 40px;
}